<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
	  <add key="database_user" value="root"/>
	  <add key="database_password" value="mjm831119"/>
	  <add key="ftproot" value="C:\\ftproot" />
	  <add key="galleryroot" value="C:\\xampp\\htdocs\\CutGallery" />
	  <add key="backuproot" value="C:\\backuproot\\albums" />
	  <add key="testgalleryroot" value="C:\\testroot" />
	  <add key="Log_Size" value="1048576" />
	  <add key="Scanner_Log_FileName" value="D:\\Scanner Log\\Scanner Log.Log" />
  </appSettings>
</configuration>
