html {
color: #fff;
margin: 0;
background: #000 url('../images/main-bg.png') repeat;
}

#mainHead{
    width: 1024px;
    margin: 0 auto;
    background-color: #000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #AAA;
}

.div-clear{
    clear: both;
}
#logo {
width: 300px;
height: 100px;
background: transparent url('../images/site-logo.png') no-repeat;
/* background-color: yellow !important; */
/*color: blue;*/
float: left;
}
#logo a{
    display: block;
    width: 100%;
    height: 100%;
}
#mainInfo {
    /* background-color: pink; */
    width: 40em;
    font-size: 12px;
    height: 24px;
    float: right;
}
#mainInfo ul, #mainInfo li{
    float: right;
    list-style: none;
}
#mainContent {
    width: 1024px;
/*    height: 520px;*/
    background-color: #000;
    margin: 0 auto;
}
#mainNav {
/*    color: blue;*/
/*    background-color: white;*/
    top: 50px;
    float: right;
    clear: right;
/*    background-color: pink;*/
}
#mainNav li {
    width: 160px;
    float: left;
    height: 70px;
    list-style: none;
/*    background-color: white !important;*/

}
#mainNav #gallery{
    background: transparent url('../images/gallery-icon.png') no-repeat;
}
#mainNav #gallery a:hover{
    background: transparent url('../images/gallery-icon-hover.png') no-repeat;
}
#mainNav #intro{
    background: transparent url('../images/aboutus-icon.png') no-repeat;
}
#mainNav #intro a:hover{
    background: transparent url('../images/aboutus-icon-hover.png') no-repeat;
}
#mainNav #contactus{
    background: transparent url('../images/contactus-icon.png') no-repeat;
}
#mainNav #contactus a:hover{
    background: transparent url('../images/contactus-icon-hover.png') no-repeat;
}

#mainNav * a{
    display: block;
    width: 100%;
    height: 100%;
    border-left: #AAA 2px solid;
}
#album_header {

}
#album_header li{
    float: left;
    text-align: left;
    height: 30px;
    /* background-color: yellow; */
}

#album_header li a{
    display: block !important;
    color: red !important;
    font-size: 14px !important;
    /* background-color: grey; */
    margin-left: 10px;
    padding-top: 7px;
}
#footer {
    border-top-width: 2px;
border-top-style: solid;
border-top-color: #AAA;
   position: relative;
   left:0px;
   bottom:0px;
   height:60px;
   width:1024px;
   margin: 0 auto;
   background-color: black;
   /* background: aqua; */
}
#about_content{
    margin: 0 auto;
/*    background-color: grey; */
}

/**/
#home_pictures{
/*    background-color: gray;*/
    width: 980px;
    height: 510px; /* CutGallery - Home page picture height */

    padding-top: 5px;
    padding-bottom: 13px;
}
#home_pictures ul{
 height: 100%;
}
#home_pictures li{
    float: left;
/*    background-color: darkgray;*/
    border-width: 1px;
    margin: 3px;
    border-style: outset;
    width: 318px; /* CutGallery - Home page picture width */
    height: 100%;
}
#album_header_cpation{
    font-size: 22px;
    font-weight: bold;
}
.g-album-thumbnail{
    -webkit-box-shadow: #666 6px 4px 6px;
    -moz-box-shadow: #666 6px 4px 6px;
    box-shadow: #666 6px 4px 6px;
    background: #EEFF99;
    /* behavior: url(/PIE.js); CutGallery - Refer to http://css3pie.com to support IE series render css3 effects.*/
}

.pic_shadow{ /* CutGallery - Temporary should be merged into one class */
    -webkit-box-shadow: #666 2px 2px 2px;
    -moz-box-shadow: #666 2px 2px 2px;
    box-shadow: #666 2px 2px 2px;
    background: #EEFF99;
}
/* Album panel ~~~~~~~~~~~~~~~~~~~~CutGallery - ADDED*/
#g-item-panel{
    width: 620px;
/*    background-color: yellowgreen;*/
/*    position: absolute;
    margin: 10px;
    right: 0px;*/

float: right;
}
.album_panel_parent{
    display: none; /* When page loaded, by default none is shown until the cursor move on */
    height: 500px;
}
#g-item-panel ul .album_cover{
    background: transparent url('../images/album-cover-bg.png') no-repeat center;
    /*background-color: blueviolet; */
    width: 100%;
    height: 374px;
/*    text-align: left;*/
}
#g-item-panel ul .album_cover div{
/*    background-color: pink;
    display: block;*/
    position: relative;
    width: 510px;
    height: 310px;
    top: 24px;
    left: 80px;
}
#g-item-panel ul .album_cover img{
    position: relative;
    margin: 0 auto;

/*    top: 24px;
    left: 80px;*/
}
#g-item-panel .album_prop{
    /* background-color: yellow; */
    width: 100%;
    height: 20px;
}
#g-item-panel .album_prop span{
    padding-right: 5px;
    color: grey;
/*    font-weight: bold;*/
}
#g-item-panel .album_prop ul{
    float: right;
    padding-left: 3px;
    margin-right: 3px;
    width: auto;
}
#g-item-panel .album_prop ul li a{
    color: grey !important;
    font-weight: bold;
}
#g-item-panel .album_prop ul li a:hover{
    color: #fff !important;
}
.album_comments {
    background: transparent url("../images/album-comments-bg.png") no-repeat;
/*    background-color: pink !important;*/
    position: absolute;
    right: 4px;
    height: 96px;
    width: 590px;
}
.album_comments span {
   display: block;
   padding-top: 8px;
}

#g-add-items {
/*    background-color: yellow;*/
    width: 12em;
    height: 2em;
}
#about_content{
    margin: 0 auto;
    width: 980px;

}
#SlidePlayer{
    width: 100%; 
    height: 530px;
}
#SlidePlayer ul li img{
    width: 980px; 
    height: 530px
}
#contact_content img{
    height: 530px;
    width: 980px;
}

#g-share-dialog input{
    display: inline;
    width: 330px;
    cursor: text;
}

#g-dialog{
    background: transparent url('../images/dialog-bg.png') repeat;
}

.requires-flash div {
    background-color: #FFF;
}

#g-upload-done{
/*    background-color:red;*/
}

#g-item-cover-no-item{
    width: 510px;
    height: 310px;
}